<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv ="Content-Security-Policy" content="upgrade-insecure-requests">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" th:href="@{css/static.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/term.css}">

    <title>V云空间商家直播协议</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            font-size: "PingFang-SC-Medium";
        }

        .zh-document {
            /* width: 960px; */
            font-size: 14px;
            line-height: 2;
            /* margin: auto; */
        }

        /* .zh-document ul {
            margin-left: 2em;
        } */

        .zh-document ul li {
            margin-bottom: 1em;
        }

        @media (min-width: 959px) {
            .zu-main-content-inner {
                width: 960px;
                margin: auto;
            }

            .p1 {
                height: 100px;
            }

            .p1 p {
                font-size: 22px;
            }

            .p2 {
                width: 255px;
                padding-top: 30px;
            }
        }

        @media (max-width: 767px) {
            .zu-main-content-inner {
                margin: 0 15px;
            }

            .p1 {
                height: 70px;
            }

            .p1 p {
                font-size: 18px;
            }

            .p2 {
                width: 235px;
                padding-top: 20px;
            }
        }

        .zh-document h2 {
            font-size: 17px;
            margin-left: 0em;
            color: #333333;
        }

        .zh-document li {
            color: #333333;
            font-weight: bold;
            font-size: 15px;
            margin-left: 2em;
        }

        .ul1 li {
            color: #666666 !important;
            margin-left: 1em;
        }

        .p1 {
            /* height: 10em; */
            width: 100%;
            background-color: rgb(66, 185, 204);
        }

        .logo {
            float: left;
            width: 40px;
            height: 30px;
            background: url(./image/vyunlogo.png) no-repeat;
            background-size: 100% 100%;
        }
    </style>
</head>

<body>
    <div class="zu-main-content-inner">
        <div class="zh-document">
           
            <!-- <p style="margin-top:1em;margin-left: 1em;font-size: 13px;">
                以下包含服务使用协议及个人信息保护政策两部分：
            </p> -->
            <h2 style="margin-left: 0em;margin-top:1em;">直播行为规范</h2>
            <p style="margin-left: 0.5em;color: #666666;font-weight: bold;">
                《V云空间商家直播协议》是汲墨汀科技成都有限公司 （以下简称“我方”）和你方（自然人、法人或其他组织）所约定的规范双方权利和义务的具有法律效力的电子协议，以下称“本协议”。你方勾选
                “我已阅读并遵守该协议”按钮，即表示你方已经仔细阅读、充分理解并完全地毫无保留地接受本协议的所有条款。
            </p>
            <ol>
                <h2>一、直播封面及标题规范</h2>
                <p style="margin-left: 0.5em;color: #666666;
                font-weight: bold;">
                    封面：以人物为主体的高清大图，文件大小不超过5M，或通过人物与产品的合照，展现直播主题，无任何诱导二维码信息、切勿过于花俏、不能是拼接图。
                </p>
                <p style="margin-left: 0.5em;color: #666666;
                font-weight: bold;">
                    标题：16个字符以内，简明扼要，表达直播主旨，以介绍当场直播/店铺特色/商品信息为主。
                </p>
                <h2>二、环境规范</h2>
                <p style="margin-left: 0.5em;color: #666666;
                font-weight: bold;">
                <li>必须是合规的房间或厂房，并保证房间干净整洁，不要堆砌太多杂物；</li>            
                </p>
                <p style="margin-left: 0.5em;color: #666666;
                font-weight: bold;">
                <li>必须保证光线明亮，能清晰拍摄整个商品介绍流程。</li>                  
                </p>
                <h2>三、视频规范</h2>
                <li>
                    <p>画面整洁不凌乱，有重点，摄像头需对准商品介绍流程，将商品主体拍摄清晰；</p>
                </li>
                <li>
                    <p>保证拍摄设备有充足电量，且在稳定网络环境下（尽可能采用wifi拍摄）；</p>
                </li>
                <li>
                    <p>拍摄过程中尽量不要移动设备，保证画面稳定流畅；</p>
                </li>
                <li>
                    <p>禁止拍摄与本店铺前期选品后无关的商品；</p>
                </li>
                <li>
                    <p>禁止宣传非本平台的链接；</p>
                </li>
                <li>
                    <p>禁止播放版权所有人禁止播放的视频作品；</p>
                </li>
                <li>
                    <p>不能以任何形式拍摄和宣传带有色情、暴力血腥、消极反动以及有擦边球嫌疑的视频内容；</p>

                </li>
                <li>
                    <p>不得发布不实信息，包括但不限于捏造细节、夸大事实、不实宣传、虚假中奖信息。</p>
                </li>
            </ol>
            <ol>
                <h2>五、主播规范</h2>
                <li>
                    <p>不得违背其自身所作出的承诺；</p>
                </li>
                <li>
                    <p>不得存在易导致交易风险的行为，包括但不限于引导用户进行线下交易、发布外部网站的商品或信息；/p>
                </li>
                <li>
                    <p>不得扰乱平台秩序，包括但不限于针对直播数据进行造假或作弊；</p>
                </li>
                <li>
                    <p>若违反平台直播规范，平台有权对商家进行处理。</p>
                </li>
            </ol>
            <ol>
                <h2>六、禁止推广商品类目</h2>
                <li>
                    <p>各类枪支、弹药及相关器材，如枪械、枪械仿制品（如仿真枪）、子（炮）弹、消音器、火药、说明书、包装盒等；</p>
                </li>
                <li>
                    <p>安防设备包括但不限于电击、强光、催泪等保安防卫器械，如激光等；</p>
                </li>
                <li>
                    <p>警用设备及制品包括但不限于警服、警徽、手铐、警灯、警笛、电击器等警用和军用器械；</p>
                </li>
                <li>
                    <p>防身喷雾等其他防身器具；</p>
                </li>
                <li>
                    <p>违反国家管制刀具认定标准的刀具，如匕首、三棱刀（包括机械加工用的三棱刮刀）、带有自锁装置的弹簧刀以及类似的刀具；</p>
                </li>
                <li>
                    <p>弓弩、牙签弩、弹弓、钢珠、铅珠、真机、真弹等；</p>
                </li>
                <li>
                    <p>弹簧刀（跳刀）以及其他类似的单刃、双刃、三棱尖刀等；
                    </p>
                </li>
                <li>
                    <p>刀具类包括但不限于：管制刀具、菜刀等；
                    </p>
                </li>
                <li>
                    <p>易燃、易爆物品，如火药等；
                    </p>
                </li>
                <li>
                    <p>毒品、制毒原料、制毒化学品吉致瘾性药物；
                    </p>
                </li>
                <li>
                    <p>国家禁止生产、经营、使用的危险化学品；
                    </p>
                </li>
                <li>
                    <p>毒品吸食工具及配件；
                    </p>
                </li>
                <li>
                    <p>介绍制作易燃易爆品方法的相关教程、书籍；
                    </p>
                </li>
                <li>
                    <p>农业部发布的禁用限用类农药；
                    </p>
                </li>
                <li>
                    <p>烟花爆竹和烟花爆竹燃放装置；
                    </p>
                </li>
                <li>
                    <p>含有反动、破坏国家统一、破坏主权及领土完整、破坏社会稳定，涉及国家机密、扰乱社会秩序，宣扬邪教迷信，宣扬宗教、种族歧视等信息，或法律法规禁止出版发行及销售的书籍、音像制品、视频、文件资料等；
                    </p>
                </li>
                <li>
                    <p>偷电设备、蹭网卡、蹭网器、拨号网、破网、翻墙软件及 VPN 代理服务等；
                    </p>
                </li>
                <li>
                    <p>存在扣费项目不明确、恶意扣费、暗设扣费程序等任何损害用户权益的情况，或含有盗号、窃取密码等恶意程序的产品；
                    </p>
                </li>
                <li>
                    <p>不适宜在国内初版发型、销售的涉政书刊及收藏性的涉密书籍、音像制品、视频、文件资料等；
                    </p>
                </li>
                <li>
                    <p>国际禁止的集邮票品一级未经邮政行业管理部门批准制作的集邮品，以及一九四九年之后发行的包含“中华民国”字样的邮品；
                    </p>
                </li>
                <li>
                    <p>带有宗教、种族歧视的相关商品或信息；
                    </p>
                </li>
                <li>
                    <p>反动等含有破坏性信息的产品和服务，如不适宜在国内发行的涉政书刊及收藏性的涉密书籍音像制品，诈骗网站；
                    </p>
                </li>
                <li>
                    <p>含有色情淫秽内容的音像制品及视频、色情陪聊服务、成人网站论坛的账号/邀请码或其他淫秽物品等；
                    </p>
                </li>
                <li>
                    <p>可致使他人暂时失去反抗能力、意识模糊的口服或外用的催情类商品等；
                    </p>
                </li>
                <li>
                    <p>用于传播色情信息的软件、种子文件、网盘资源及图片，含有情色、暴力、低俗内容的音像制品，原味内衣及相关产品，含有未成年人色情内容的图片、写真视频等；
                    </p>
                </li>
                <li>
                    <p>含有情色、暴力、低俗内容的动漫、读物、游戏和图片等；
                    </p>
                </li>
                <li>
                    <p>网络低俗产物；
                    </p>
                </li>
                <li>
                    <p>用于监听、窃取隐私、泄露个人私密资料、手机监听器或机密的软件及设备等；
                    </p>
                </li>
                <li>
                    <p>用于非法摄像、录音、取证等用途的设备等；
                    </p>
                </li>
                <li>
                    <p>身份证、护照、社会保障卡等依法用于身份证明的证件等；
                    </p>
                </li>
                <li>
                    <p>盗取或破解账号密码的软件、工具、教程及产物等；
                    </p>
                </li>
                <li>
                    <p>个人隐私信息及企业内部数据，提供个人手机定位、电话清单查询、银行账户查询等服务；
                    </p>
                </li>
                <li>
                    <p>其他安全带扣等具有交通安全隐患的汽车配件类商品等；
                    </p>
                </li>
                <li>
                    <p>已报废、达到国家强制报废标准、非法拼装或非法所得等国家法律法规命令禁止经营的车辆及其“五大总成”等；
                    </p>
                </li>
                <li>
                    <p>载人航空器、航空配件、模型图纸类商品
                    </p>
                </li>
                <li>
                    <p>侵犯他人隐私的器材：窃听器、偷拍器、针孔摄像、信息拦截（传真拦截、短信拦截、电话拦截）等可能侵犯他人隐私的违规器材；
                    </p>
                </li>
                <li>
                    <p>侵犯他人个人信息的产品，包括但不限于直接提供他人手机号码、电子信箱地址等个人信息，以及提供用于收集、盗取他人信息的软件、产品等（比如钓鱼网站）；
                    </p>
                </li>
                <li>
                    <p>一、二、三类医疗器械OTC 药品及处方药；
                    </p>
                </li>
                <li>
                    <p>医疗服务；
                    </p>
                </li>
                <li>
                    <p>所有用于预防、治疗人体疾病的国产药品；所有用于预防、资料人体疾病的外国药品；
                    </p>
                </li>
                <li>
                    <p>未经药品监管管理部门批准生产、进口或未经检验即销售的医疗器械；其他用于预防、治疗、诊断人体疾病的医疗器械；
                    </p>
                </li>
                <li>
                    <p>依据《中华人民共和国药品管理法》认定的假药、劣药；
                    </p>
                </li>
                <li>
                    <p>兽药药监部门专项许可的兽药处方药和非处方药目录药品；国家公示查处的兽药；兽药监管部门禁止生产、使用的兽药。
                    </p>
                </li>
            </ol>
            <ol>
                <h2>七、违规处罚</h2>
                <li>
                    <p style="font-size: 16px;">严重违规行为（A类违规）</p>
                    <p>违反 A 类规定的用户，将永久封禁商家直播，乃至封禁账号，且V云空间平台有权冻结违规账户中未提现收益。</p>
                    <p>严重违规行为是指涉政、涉黄、恶意违规等严重扰乱直播平台秩序的行为:直播中展示传播淫秽色情内容，包括但不限于性行为、色情推广、漏点画面、挑逗性言行、带有性暗示的直播内容、违反公序良俗的行为；
                    </p>
                    <ul class="ul1">
                        <li>直播中展示或销售管制物品，包括但不限于私藏枪支弹药、枪支部件、组装方法、仿真枪支；</li>
                        <li>直播中展示或销售毒品、违禁药品，或展示与之相关的任何行为，包括但不限于海洛因、大麻、吸毒工具、吸食注射、买卖交易；</li>
                        <li>直播中展示危害自身或他人生命安全的行为或言论，包括但不限于自杀自残、割腕烧炭、跳楼跳河、自杀游戏等；</li>
                        <li>直播中发布有害信息，严重违反平台规定。</li>
                    </ul>
                </li>
                <li>
                    <p style="font-size: 16px;">中度违规行为（B类违规）</p>
                    <p>违反 B 类规定的用户，将被立即停止当前直播，并按违规次数递增停播时间。用户在停播处置期满后，若一个月内多次直播都无违规行为，将降低违规累积次数，予以减轻处罚；若持续多次 B
                        类违规，或情节严重的将永久停播，乃至封禁账号。</p>
                    <p>中度违规行为是指除严重违规行为外，程度较重地扰乱直播平台秩序的违规行为：</p>
                    <ul class="ul1">
                        <li>直播中出现诱惑性、挑逗性不良行为，包括但不限于低俗表演、低俗PK、低俗段子、低俗游戏；</li>
                        <li>直播中通过猎奇、怪异、夸张或其他方式，恶意吸引关注、博取热点，包括但不限于怪异着装、恶搞他人、恶意揭秘炒作；</li>
                        <li>直播中出现成人娱乐场所、易暴露隐私的公共私密场所，包括但不限于夜总会、公厕、洗浴中心、大众浴池，或直播过程中涉及成人用品及其仿制品相关的内容；</li>
                        <li>直播中刻意拍摄人体敏感部位或进行带有性暗示、性挑逗的行为动作；</li>
                        <li>直播中展示易引起观众心理或生理反感、不适的行为或画面，包括但不限于恐怖惊悚画面、吞食异物、宣扬炫富拜金主义；</li>
                        <li>直播中宣扬暴力行为或言论，包括但不限于约架、打架、斗殴、威胁恐吓、欺辱他人；</li>
                        <li>直播中出现意图威胁自身或他人生命安全的行为或言论，包括但不限于扬言自杀自残、割腕烧炭、跳楼跳河、展示自残伤疤；</li>
                        <li>直播中展示、含有易引起观众心理或生理不适的血腥画面，包括但不限于血腥屠宰镜头，血腥暴力的影视剧、游戏片段；</li>
                        <li>直播中展示、含有易引起观众心理或生理不适的画面，包括但不限于虐待动物、展示尸体、伤残画面；</li>
                        <li>直播中展示或销售管制、违禁物品，包括但不限于管制刀具、防身器械、爆炸物、警用器械、管制药品、剧毒物品、非法走私物品等；</li>
                        <li>直播中进行虚假宣传或销售假冒伪劣产品，包括但不限于宣传中使用极限用语、绝对化用语（国家级、最高级、国家品牌等），销售山寨、高仿、带有伪造商标、以次充好的商品，诱导欺骗消费者；</li>
                        <li>直播中展示非法医疗相关的产品和服务信息，包括但不限于减肥类、美容整形类、药品类、保健品类、成人用品类；</li>
                        <li>直播中展示宣传非法、违规产品和服务信息，包括但不限于违规网络兼职、代购、代理加盟、金融广告、游戏外挂、非法募捐、烟草或其他不符合用户协议的商业广告；</li>
                        <li>直播中出现偷猎、狩猎、贩卖、走私、加工、食用、捕杀、私自饲养保护动物等行为；</li>
                        <li>直播中出现盗采、贩卖、走私、加工、食用保护植物等行为；</li>
                        <li>直播中出现宣传、推广、导流到其他平台的行为；</li>
                        <li>直播中展示赌博或与涉赌相关的任何活动，包括但不限于非法赌牌、红包赌博、网络赌博网站、赌博游戏、彩票、一元夺宝、赌博工具等；</li>
                        <li>直播中侵犯他人合法权益、泄露他人隐私，包括但不限于私闯住宅、泄露他人手机号码、家庭住址、身份信息，人肉搜索他人、破坏私人物品、非法限制人身自由；</li>
                        <li>直播中发布有害信息，违反社区规定；</li>
                        <li>直播中出现涉及封建迷信思想、对逝者不敬的言行；</li>
                        <li>直播中出现国家明令禁止的行为，包括但不限于非法募捐、挖宝、盗墓、扰乱交通秩序、组建非法组织、损坏人民币、销售非法所得等；</li>
                        <li>直播中着装暴露、诱惑，或展示其他不宜展示的着装及行为；</li>
                        <li>直播中出现意图威胁自身或他人生命安全的行为或言论，包括但不限于吃玻璃、胸口碎大石、窒息游戏、憋气挑战、野外跳水等；</li>
                        <li>直播中出现危险驾驶或者违反交通法规的违章驾驶行为，包括但不限于主播驾车直播、在副驾驶位直播并和司机频繁互动、飙车、骑车手脱把、摩托车翘头；</li>
                        <li>直播中发表不良低俗言论，包括但不限于人身攻击、语言暴力、谈论两性话题、诽谤骚扰他人、诱惑性声音；</li>
                        <li>直播中宣扬或传播不符合公序良俗要求的影视或音乐作品，包括但不限于各地的低俗、庸俗、媚俗作品，违禁作品；</li>
                        <li>直播中发布妨碍平台正常秩序或干扰平台用户的不当言论，包括但不限于诱导用户消费、散布不实信息、煽动粉丝情绪；</li>
                        <li>直播中出现侵犯未成年人合法权益、危害未成年人身心健康、传递未成年人违法违规不良导向的内容或行为，包括但不限于未成年人直播、暴露敏感部位、言语侮辱、体罚虐待未成年人；</li>
                        <li>直播中出现违规行为，包括但不限于借号直播、给他人宣传高危商品、歪曲官方信息制造不实言论；</li>
                        <li>直播中出现引导用户至非快手认可的渠道进行私下交易的行为，包括但不限于以口播、摆放等形式露出站外联系方式，或者引导用户添加站外联系方式进行商品、服务交易。</li>
                    </ul>
                </li>
                <li>
                    <p style="font-size: 16px;">一般违规行为（C类违规）</p>
                    <p>违反 C 类规定的用户，将被予以警告；若不改正，再次警告将停止当前直播。若仍然不改正，将停止当前直播并禁播１天。情节严重的将延长停播时间。</p>
                    <p>一般违规行为是指除严重违规行为和中度违规行为外，其他扰乱直播平台秩序的违规行为，包括但不限于：</p>
                    <ul class="ul1">
                        <li>直播中出现抽烟、喝酒等不健康行为；</li>
                        <li>直播中进行各类广告宣传，恶意发布广告的行为；</li>
                        <li>直播中播放一切无版权内容，包括但不仅限于影视、游戏、体育赛事、演唱会等；</li>
                        <li>直播标题及封面中出现低俗、诱导性文字及不雅封面博取点击；</li>
                        <li>直播中出现着装不雅的行为，包括但不限于赤膊、穿着暴露、纹身、特殊部位非正常拍摄等；</li>
                    </ul>
                </li>
            </ol>
            <ol>
                <h2>八、其他声明</h2>

                <p style="color: #666666; font-weight:bold;font-size: 15px;margin-left: 0.5em;">
                    本协议由V云空间官方制定并发布，为了打造绿色健康的商家直播平台，V云空间可能在必要时对本规范进行修订，修订后的规范将在平台以公示形式告知用户。如用户不同意相关变更，可以停止使用V云空间商户直播相关服务，并可通过公示的方式联系平台客服 注销账号，如继续登录或使用即表示用户已接受修订后的规范。
                </p>
                <p style="padding-bottom: 15px;"></p>

            </ol>
        </div>
    </div>
</body>

</html>