* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: "苹方中等体";
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#app {
    font-family: Helvetica, "Avenir", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sp1 {
    background: url(../images/phone5.png) no-repeat;
    background-size: 100% 100%;
}

.swiper_content {
    width: 13.86rem;
    position: absolute;
    top: 0.6rem;
}

.header {
    z-index: 100;
    width: 13.7rem;
    height: 2.8rem;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -6.85rem;
}

.header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.128rem;
    background-color: #ffffff;
    opacity: 0.55;
}

.logo {
    width: 3.5rem;
    height: 2.8rem;
    background: url(../images/vyunlogo.png) no-repeat;
    background-size: 100% 100%;
}

.font {
    width: 11.94rem;
    height: 6.82rem;
    background: url(../images/font.png);
    background-size: 100% 100%;
    position: absolute;
    top: 8.96rem;
    left: 50%;
    margin-left: -5.97rem;
}

.button {
    display: block;
    color: #ffffff;
    font-size: 0.85rem;
    width: 6.4rem;
    height: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 0.85rem;
    position: absolute;
    top: 20.5rem;
    left: 50%;
    margin-left: -3.2rem;
}

#prev {
    width: 2.48rem;
    height: 4.95rem;
    background: url(../images/donext.png) no-repeat;
    background-size: 100% 100%;
    background-position-y: -2.474rem;
    position: absolute;
    bottom: 5rem;
    animation: gonext 1.8s infinite linear;
}

@keyframes gonext {
    0% {
        bottom: 0.5rem;
        opacity: 1;
    }

    60% {
        bottom: -1rem;
        opacity: 0;
    }

    100% {
        bottom: 0.5rem;
        opacity: 0;
    }
}

.sp2 {
    background: url(../images/pg01.png) no-repeat;
    background-size: 100% 100%;
}
.sp3 {
    background: url(../images/pg03.png) no-repeat;
    background-size: 100% 100%;
}
.sp4 {
    background: url(../images/pg04.png) no-repeat;
    background-size: 100% 100%;
}
#img1 {
    display: block;
    height: 2.77rem;
    background-size: 100% 100%;
    position: absolute;
    top: 4.7rem;
}

.mo1 {
    width: 11.94rem;
    background: url(../images/font_mo.png) no-repeat;
}
.mo2{
    width: 12.94rem;
    background: url(../images/font_mo1.png) no-repeat;
}
.proup{
    display: block;
    width: 4.26rem;
    height: 8rem;
}
.imgBox{
    width: 100%;
    height: 6.61rem;
    position: relative;
}
.imgBox1{
    width: 100%;
    height: 6.61rem;
    position: relative;
}
.boxI{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 8.53rem;
}
#zu1{
    position: absolute;
    left: 2.13rem;
}
#zu2{
    position: absolute;
    top: -1.70rem;
    right: 2.56rem;
}
#zu3{
    position: absolute;  
    top: -2.13rem;
    left: 3.84rem;
}
.f01{
    width: 10.19rem;
    height: 0.85rem;
    position: absolute;
    z-index: 50;
}
.ff1{
    top: 8.53rem;
    left: 2.13rem;
}
.ff2{
    left: 1.19rem;
    top: 3.84rem;
}
.proup1{
    width: 4.77rem;
    height: 6.35rem;
}
#q1{
    width: 1.83rem;
    height: 1.83rem;
    position: absolute;
    top: 3.5rem;
    right: 5.8rem;
}
.mo3{
    width: 14.08rem;
    height: 4.05rem;
    background: url(../images/font_mo3.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 4.7rem;
}
.kua{
    width: 14.08rem;
    height: 18.86rem;
    position: absolute;
    top: 8.53rem;
    background: url(../images/kua.png) no-repeat;
    background-size: 100% 100%;
}
.kuaBox{
    margin-top: 0.85rem;
    width: 100%;
    height: 5.12rem;
    color: #ffffff;
    margin-left: 2.13rem;
    font-size: 0.68rem;
}
.kuaBox h2{
    font-weight: 400;
    text-align: left;
}
.kuaBox p{
    margin-top: 0.3rem;
    text-align: left;
}
.q2{
    width: 0.6rem;
    height: 10.2rem;
    background: url(../images/q2.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0.85rem;
    right: 0.55rem;
}