.layui-layer-hui .layui-layer-content {
	background: rgba(255,255,255,0.2);
	padding: 0;
}
#login_had {
	padding: 3rem 0.71rem 2rem;
}
.user {
	padding-left: 0.02rem;	
}
#haduser {
	display: none;
}
/* 用户昵称 */
.username {
	font-size: 0.72rem;
}
/* 邀请加入 */
.login_yao {
	font-size: 0.42rem;
	margin-top: 0.23rem;
}
/* 表单 */
.login_form {
	margin-top: 1.05rem;
}
.login_form>div {
	padding: 0.72rem 0.02rem 0.4rem;
	border-bottom: 2px solid #2B2A36;
}
.login_form input:-ms-input-placeholder,
.login_form input::-moz-placeholder,
.login_form input::-webkit-input-placeholder,
.login_form input::placeholder {
	font-family: "regul";
}
/* input框 */
input {
	color: #999;
	font-size: 0.46rem;
}
/* input[name="phone"] {
	margin-left: 0.16rem;
} */
input[name="phone"], input[type="password"], input[name="passpay"] {
	width: 100%;
}
/* 验证码 */
.hadlogin_code {
	display: inline-block;
	width: 1.8rem;
	height: 0.72rem;
	line-height: 0.72rem;
	right: 0.02rem;
	font-size: 0.36rem;
	background: url(../img/code.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
/* 确定按钮 */
.login_btn {
	width: 9.37rem;
	height: 1.14rem;
	line-height:1.14rem;
	margin-top: 0.79rem;
	background: url(../img/login_btn.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#show_hide {
	color: #333333;
	right: 0;
	top: 50%;
	transform: translateY(-40%);
	padding: 0.2rem;
	border-radius: 0.15rem;
	font-size: 0.36rem;
}
#show_hide.show {
	background-color: #CEA87A;
}
#show_hide.hide {
	background-color: #EED7A5;
}
/* 没有账号,去注册按钮样式 */
.to_regiest {
	padding: 20px 0;
	font-size: 0.45rem;
}