* {
    margin: 0;
    padding: 0;
}
#address {
	background: rgb(239, 239, 239);
	min-height: 100%;
	padding-bottom: 0.2rem;
	font-size: 0.46rem;
}
#ress_head {
    background: rgb(239, 239, 239);
	font-size: 0.54rem;
	padding: 0.46rem 0;
	border-bottom: 1px solid #FAFAFA;
}