.back {
    z-index: 50 !important;
    width: 4rem !important;
    height: 1.2rem !important;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute !important;
    top: 0.4rem;
    left: 0.29rem !important;
    border-radius: 0.43rem !important;
}

#header {
    width: 1rem;
    height: 1rem;
    background: url(../image//header.png);
    background-size: 100% 100%;
    position: absolute;
    left: 0.1rem;
    top: 0.11rem;
    border-radius: 50%;
}

#header1 {
    width: 1rem;
    height: 1rem;
    background: url(../image//header.png);
    background-size: 100% 100%;
    position: absolute;
    left: 0.1rem;
    top: 0.11rem;
    border-radius: 50%;
}

video::-webkit-media-controls-start-playback-button {
    display: none;
}

.text {
    width: 3.7rem;
    height: 1.1rem;
    position: absolute;
    left: 1.2rem;
    border-radius: 50%;
}

.text_le {
    width: 2.5rem;
    height: 100%;
    float: left;
}

.txt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.h1 {
    margin-top: 0.15rem;
    color: white;
    font-size: 0.4rem;
}

.h2 {
    /* margin-top: 0.1rem; */
    color: rgba(255, 255, 255, .5);
    font-size: 0.3rem;
}

.h3 {
    margin-top: 0.1rem;
    color: rgba(255, 255, 255, .5);
    font-size: 0.3rem;
}

.text_ri {
    float: right;
    margin-top: 0.15rem;
    width: 1.2rem;
    height: 0.9rem;
    background: url(../image/always.png);
    background-size: 100% 100%;
    color: #333333;
    font-size: 0.4rem;
    text-align: center;
    line-height: 1rem;
}

.vcp-bigplay {
    height: 100% !important;
    z-index: -10 !important;
}

.liveNum {
    font-size: 0.4rem;
    color: white;
    text-align: center;
    line-height: 1.1rem;
    width: 1.5rem;
    height: 1.1rem;
    position: absolute;
    right: -5rem;
    top: 0.1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.43rem;
}

.bottom {
    position: absolute;
    bottom: 0.1rem;
    width: 100%;
    height: 1.2rem;
    z-index: 10;
}  

.bottom_ri {
    position: absolute;
    right: 0.2rem;
    bottom: 0.5rem;
    width: 2.8rem;
    height: 0.8rem;
}

.botm_gift {
    float: left;
    width: 1.2rem;
    height: 1.2rem;
    background: url(../image/gift.png);
    background-size: 100% 100%;
}

.botm_share {
    margin-top: 0.1rem;
    width: 2.3rem;
    height: 1.1rem;
    background: url(../image/share.png);
    background-size: 100% 100%;
    margin-left: 0.3rem;
    float: left;
}

.botm_zan {
    float: left;
    width: 1.2rem;
    height: 1.2rem;
    background: url(../image/zan.png);
    background-size: 100% 100%;
    margin-left: 0.3rem;
}

.show {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.4rem;
    /* display: none; */
    z-index: 50;
    position: absolute;
    bottom: 0rem;
    width: 100%;
    height: 2.2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.close {
    margin-top: 0.5rem;
    margin-left: 0.1rem;
    float: left;
    width: 1rem;
    height: 1rem;
    background: url(../image/close.png);
    background-size: 100% 100%;
}

.appOpen {
    display: none;
    font-size: 0.4rem;
    color: #333333;
    text-align: center;
    line-height: 0.9rem;
    z-index: 5000;
    width: 2.5rem;
    height: 0.9rem;
    position: absolute;
    top: 2.2rem;
    right: 0.3rem;
    background-color: #DCAA50;
    border-radius: 0.46rem;
}

/* 温馨提示:也许只在非手机浏览器中显示 */
#isios,
#isand {
    position: -ms-device-fixed;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 999999999999999999;
}

.weixin-tip {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: url(../image//tollqand.png) no-repeat;
    background-size: 100% 100%;
    height: 5rem;
    width: 100%;
    z-index: 10000;
}

.open {
    color: rgba(255, 255, 255, .7);
    text-align: center;
    line-height: 0.9rem;
    font-size: 0.4rem;
    width: 2.5rem;
    height: 0.9rem;
    position: absolute;
    right: 2%;
    top: 0.6rem;
    background-color: #DBA94F;
    border-radius: 0.43rem;
}

.user {
    position: relative;
    top: 2.8rem;
    height: 6.3rem;
    border-bottom: 0.028rem solid rgb(52, 49, 64);
}

.userImg {
    width: 3.2rem;
    height: 3.2rem;
    margin: auto;
    border-radius: 50%;
    background: url(../image/header.png);
    background-size: 100% 100%;
}

.room {
    text-align: center;
    color: white;
    width: 5rem;
    line-height: 0.8rem;
    height: 0.8rem;
    margin: 1rem auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.roomName {
    margin-top: 0.8rem;
    font-size: 0.5rem;
}

.roomId {
    margin-top: -0.7rem;
    font-size: 0.45rem;
}

.liveOver {
    line-height: 1.2rem;
    width: 3.5rem;
    height: 1.2rem;
    position: relative;
    top: 3.2rem;
    font-size: 0.6rem;
    color: white;
    left: 50%;
    margin-left: -1.75rem;
}

.button {
    font-family: SourceHanSansCN-Regular;
    font-size: 0.5rem;
    width: 9rem;
    height: 1.2rem;
    position: relative;
    top: 7rem;
    left: 50%;
    margin-left: -4.5rem;
    background-color: #DBA94F;
    border-radius: 0.43rem;
    text-align: center;
    line-height: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
}

.test {
    display: block;
    position: absolute;
    bottom: 1.15rem;

}

.test_list {

    display: block;
    font-size: 0.4rem;

    /* white-space: pre-line; */
    /* width: 8.64rem; */
    /* background-color: yellow; */
    /* background-color: rgba(0, 0, 0, 0.8); */
    border-radius: 0.43rem;
}

.ce {
    display: inline-block;
    margin-top: 0.1rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0.43rem;
    padding: 0.1rem;
}

.body {
    position: absolute;
    height: 100%;
    z-index: 999;
    width: 100%;
    bottom: 0;
    background: url(../image/ditu.png);
    background-size: 100% 100%;
}

.online_box {
    border-radius: 0.43rem;
    width: 100%;
    height: 11.5rem;
    background-color: white;
    position: absolute;
    bottom: -0.34rem;
    z-index: 900;
    display: none;
}

.onbox {
    position: absolute;
    bottom: 10.17rem;
    width: 100%;
    height: 1.29rem;
    border-bottom: 1px solid rgb(237, 237, 237);
    font-size: 0.5rem;
    text-align: center;
    line-height: 1.29rem;
    z-index: 10;
}

.online_peo {
    width: 100%;
    height: 8.06rem;
    overflow: hidden;
    position: absolute;
    z-index: 60;
    top: 1.32rem;
    overflow: scroll;
}


.online_pe {
    width: 100%;
    height: 2.01rem;
}

.online_le {
    display: block;
    margin-top: 0.28rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-left: 0.14rem;
    float: left;
}

.online_ri {
    margin-top: 0.28rem;
    margin-left: 0.24rem;
    width: 82%;
    height: 1.5rem;
    float: left;
}

.on_name {
    width: 100%;
    height: 0.8rem;
    float: left;
}

.on_txt {
    width: 100%;
    height: 0.57rem;
    float: left;
}

.on_h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width:5.76rem;
    font-size: 0.5rem;
    /* line-height: 2.14rem; */
    color: black;
    float: left;
}

.txt_h3 {
    color: gray;
    /* margin-top: -0.17rem; */
    font-size: 0.4rem;
}

.nam_he {
    margin-top: 0.2rem;
    margin-left: 0.08rem;
    float: left;
    width: 3rem;
    height: 0.6rem;
}

.nam_txt1 {
    margin-left: 0.1rem;
    float: left;
    width: 0.5rem;
    height: 0.52rem;
}

.im1 {
    width: 0.67rem;
    height: 0.5rem;
}
.im2{
    width: 0.6rem;
    height: 0.5rem;
}
.im4{
    width: 0.6rem;
    height: 0.5rem;
}

.he {
    width: 100%;
    height: 11.5rem;
    position: absolute;
    bottom: 5.76rem;
    z-index: 20;
}

.giftBox {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 9.64rem;
    background-color: rgb(22, 24, 34);
    display: none;
    z-index: 300000;
}

.gi_f1 {
    font-size: 0.4rem;
    width: 100%;
    height: 1.15rem;
    text-align: center;
    line-height: 1.15rem;
    color: white;
    border-bottom: 1px solid rgb(37, 39, 48);
}

.gift_bo {
    width: 100%;
    height: 7rem;
}

.gift_top {
    width: 100%;
    height: 7rem;
    overflow: hidden;
    z-index: 30000;
}

.gift_li1 {
    width: 4.14rem;
    float: left;
    height: 5.14rem;
    margin-top: 0.2rem;
}
.csik{
    float: left;
    position: relative;
    width: 25%;
    height: 3rem;
    /* margin-left: 0.3rem; */
    top: 0.2rem;
    z-index: 30000;
}
.a1{
    background: rgb(36, 39, 57);

}
.gift_red img{
    width:100%;
    height: 100%;
}
.gif1_top {
   margin: 0.3rem auto;
    z-index: 1100;
    
    width: 1.7rem;
    height: 2.3rem;
}

.gift_red {
    width: 100%;
    height: 1.6rem;
}

.gift_text {
    width: 100%;
    height: 0.43rem;
    font-size: 0.34rem;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    margin-top: 0.15rem;
}

.gift_jin {
    margin-top: 0.15rem;
    text-align: center;
    width: 100%;
    line-height: 0.43rem;
    height: 0.43rem;
    font-size: 0.3rem;
    color: rgba(255, 255, 255, 0.5);

}
.he1{
    width: 100%;
    height: 1px;
    background-color: rgb(37, 39, 48);
    position: absolute;
    bottom: 1.92rem;
}
.swiper-container {
    width: 100%;
    height: 100%;
    z-index: 30000 !important;
  }
 .swiper-slide{
     float: left;
     width: 100%;
     height: 100%;
     z-index: 30000;
 }
.gift_bo1{
    color: white;
    position: absolute;
    bottom: 0.28rem;
    right: 0.57rem;
    width: 2.3rem;
    height: 1.15rem;
    background-color: rgb(46, 48, 57);
   text-align: center;
   line-height: 1.15rem;
   font-size: 0.4rem;
   border-radius: 1rem;
}
  .swiper-pagination {
      /* background: rgb(220,170,80);
 */
      height: 0.88rem;
    position: absolute;
    bottom: 4rem;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 100;
}
.swiper-pagination-bullet {
    width: 0.14rem !important;
    background-color: rgb(153, 153, 153) !important;
    height: 0.14rem !important;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: white !important;
}
.wen{
    width: 1.2rem;
    height: 1.6rem;
    position: absolute;
    right: 0.6rem;
    background-size: 100% 100%;
    z-index: 800;
}

.wen1{
    /* top: 16.5rem; */
    top: 5.5rem;
    background-image: url(../image/question.png);
}
.wen2{
    display: none;
    /* top: 14.3rem; */
    top: 3.5rem;
    background-image: url(../image/bag.png);

}
.red_num{
    display: none;
    text-align: center;
    font-size: 0.43rem;
    width: 0.5rem;
    line-height: 0.48rem;
    height: 0.5rem;
    background-color: rgb(237, 179, 62);
    position: absolute;
    top: 3.2rem;
    right: 0.48rem;
    z-index: 801;
    border-radius: 50%;
    color: rgb(241, 80, 53);

}
.dia1{
    position: absolute;
    bottom: 1rem;
    right: 0.1rem;
   width: 1.2rem;
   height: 0.4rem;
}
.dianzan{
    font-size: 0.4rem;
    line-height: 0.57rem;
    text-align: center;
   padding-left: 0.14rem;
   padding-right: 0.14rem;

    color: rgba(255, 255, 255, 0.6);
    background: red;
    border-radius: 0.51rem;
}
.bottom_le1{
    margin-left: 0.28rem;
    float: left;
    width: 4rem;
    height: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.6);
   border-radius: 0.43rem;
   text-align: center;
   font-size: 0.4rem;
   line-height: 1rem;
}
.cha{
    width: 100%;
    height: 0.86rem;
    line-height: 0.86rem;
    position: absolute;
    bottom: 1.15rem;
    font-size: 0.43rem;
    text-align: center;
    color: gray;
}
/* .guan{
    width: 250px;
    height: 60px;
    margin: 120px auto;

}
.guan_le{
    box-sizing: border-box;
    width: 80px;
    float: left;
    height: 60px;
}
.guan_ri{
    box-sizing: border-box;
    width: 80px;
    float: right;
    height: 60px;
}
.guan_le1{
    box-sizing: border-box;
    width: 80px;
    float: left;
    height: 30px;
    font-size: 20px;
    color: white;
    text-align: center;
}
.guan_le2{
    box-sizing: border-box;
    width: 80px;
    float: left;
    height: 30px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
   text-align: center;
   line-height: 30px;
} */
.ispk{
    width: 90%;
    height: 0.58rem;
    position: relative;
    top: -7.9rem;
    left: 50%;
    margin-left: -45%;
    border-radius: 1rem;
    color: white;
    line-height: 2.86rem;
    font-size: 0.46rem;
    display: none;
    /* background-color: #F772D1; */
    background-color: #C872F2;
}
.isPkfen{
    z-index: 300;
    width: 2.3rem;
    height: 0.58rem;
    position: absolute;
    top: 2.4rem;
    left: 50%;
    margin-left: -1.15rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.14rem;
    font-size: 0.46rem;
    text-align: center;
    display: none;
}
.ischen{
    display: none;
    width: 2.3rem;
    height: 0.58rem;
    position: absolute;
    top: 2.4rem;
    left: 50%;
    margin-left: -1.15rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.14rem;
    font-size: 0.46rem;
    text-align: center;
}
.myspk{
    position: absolute;
    top:0;
    left: 0;
    
   
    width: 50%;
    height: 0.58rem;
    line-height: 0.58rem;
    border-top-left-radius: 0.43rem;
    border-bottom-left-radius: 0.43rem;
    background-color: #F772D1;
}
.myfan, .othfan{
    position: relative;
    top: -1.15rem;
    z-index: 1000;
}
.othfan{
    right: -2.9rem;
}
.otherpk{
   
    width: 50%;
    height: 0.58rem;
    line-height: 0.58rem;
    position: absolute;
    top:0;
    right: 0;
    border-top-right-radius: 0.43rem;
    border-bottom-right-radius: 0.43rem;
    background-color: #209CFF;
}
.otherpk span{
    float: left;
}
.add {
    background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    color: transparent;
}
.mycoin{
    width: 1.15rem;
    height: 0.58rem;
}
.isLian{
    display: none;
    width: 2.3rem;
    height: 0.72rem;
    position: absolute;
    top: 2.18rem;
    left: 50%;
    margin-left: -1.15rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.14rem;
    font-size: 0.46rem;
    text-align: center;
    line-height: 0.63rem;
}
.lia{
    background: linear-gradient(to right, #C771F1, #51CBDF);
    -webkit-background-clip: text;
    color: transparent;
}
.otherHead{
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0.43rem;
    position: absolute;
    top: 8.5rem;
    width: 3.6rem;
    height: 1.2rem;
    right: 0.28rem;
}
.headTo{
    width: 1rem;
    height: 1rem;
    float: left;
    background: url(../image/backg.png);
    background-size: 100% 100%;
    border-radius: 50%;
    margin-top: 0.08rem;
}
.text_le1 {
    width: 2.5rem;
    height: 100%;
    float: left;
}
.sh{
    width: 1.44rem;
    height: 1.44rem;
    /* position: absolute;
    top: 8.6rem;
    display: none; */
}

.kon{
    display: none;
    width: 4rem;
    height: 1rem;
    overflow: hidden;
    position: absolute;
    top: 10.08rem;
}
.kon_le{
    left: 0.28rem;
}
.kon_le_li{
    margin-left: 0.23rem;
    width: 1rem;
    height: 1rem;
    float: left;
    border-radius: 50%;
}
.kon_ri_li{
    margin-left: 0.23rem;
    width: 1rem;
    height: 1rem;
    float: right;
    border-radius: 50%;
}
.kon_le_li img{
    border-radius: 50%;
    float: left;
    width: 100%;
    height: 100%;
}
.kon_ri_li img{
    border-radius: 50%;
    float: left;
    width: 100%;
    height: 100%;
}
.kon_ri{
    right: 0.28rem;
}
.myh1{
    margin-top: 0.15rem;
    color: white;
    font-size: 0.4rem;
}
.myh2{
    color: rgba(255, 255, 255, .5);
    font-size: 0.3rem;
}