.TermSection {
    margin-bottom: 1em
}

.TermSection:not(.no-counter) {
    counter-increment: item
}

.TermSection ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0
}

.TermSection ol>li {
    display: table;
    margin-bottom: .6em
}

.TermSection ol>li:before {
    display: table-cell;
    content: '';
    padding-right: .6em;
    content: counters(item, '.') ' '
}

.TermSection ol>li.no-counter:before {
    visibility: hidden
}

.TermSection ol>li:not(.no-counter) {
    counter-increment: item
}

.page-terms-org-service-agreement .zh-terms-content {
    padding-left: 160px
}

@media (max-width:650px) {
    .page-terms-org-service-agreement .zh-terms-content {
        padding-left: 0
    }
}

.zh-terms-sidenav-subnav {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 13px;
    list-style: none
}

.zh-terms-content {
    padding-left: 90px
}

.zh-terms-content.org-use-norm {
    padding-left: 170px
}

@media (max-width:650px) {
    .zh-terms-sidenav {
        display: none
    }

    .zh-terms-content {
        padding-left: 0
    }

    .zh-terms-content.org-use-norm {
        padding-left: 0
    }
}